/* global style */
*
*::before
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Public-Sans", san-serif;
    font-size: 10px;
}
body{
    width:100%
}
.attribution{
    font-size: 11px;
    text-align: center;
    position: relative;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}
p{
    font-size: 1.9rem; /*1.6*/
    line-height: 1.6;
    color: var(--grayish-blue);
}
.welcome-section{
    padding: 5rem 0;
}
.container{
    margin: 0 10%;
    /* width: 100%;
    max-width: 120rem;
    padding: 0 10%; */
}

/* VARIABLES */
:root{
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

/* UTILITY CLASSES */
.u-mb-small{
    margin-bottom: 1.6rem;
}
.u-mb-medium{
    margin-bottom: 3rem;
}
.u-mb-large{
    margin-bottom: 5rem;
}

/* *************HEADER STYLES************* */
/* *************HEADER STYLES************* */

header{
    width: 100%;
    height: 3rem; /*7.5rem*/
    padding: 2.5rem 0;
    background-color: var(--white);
    position: relative;
    z-index: 999;
    top: -1rem;
    /* left: 0; */
}
.logo{
    height: 2.3rem;
}
.check{
    display: None;
}
.hamburger{
    display: None;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ul li{
    list-style: none;
    margin: 0 1.5rem;
}
li a{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--grayish-blue);
    padding-bottom: 2rem;
    position: relative;
}
li a:hover{
    color: var(--dark-blue);
}
.nav-ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .3rem;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .3s;
}
.nav-ul li a:hover::before{
    opacity: 1;
    transform: scaleX(1);
}
.button{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    padding: 1.5rem 3rem;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    border-radius: 5rem;
    opacity: 1;
    transform: scaleX(1);
    transition: all .2s;
}
.button:hover{
    opacity: .8;
    transform: scaleX(1.1);
}

/* **********WELCOME SECTION********** */
/* **********WELCOME SECTION********** */
/* **********WELCOME SECTION********** */
.welcome-section{
    width: 100%;
    background-color: var(--very-light-gray);
}
.container-welcome{
    display: flex;
    flex-direction: column-reverse;
}
.welcome-image{
    display: inline-block;
    text-align: center;
    height: 32rem;
}
.welcome-image img{
    width: 90%;
    height: 48.5rem;
    transform: translateY(-15rem);
}
.welcome-image::before{
    content: "";
    position: absolute;
    top: -12rem;
    right: -1rem; /*0*/
    width: 60rem;
    height: 70rem;
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-text{
    text-align: center;
    padding: 0 8%;
}
.welcome-text h1{
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 4.5rem;
    color: var(--dark-blue);
}
.welcome-text h1 span{
    display: inline-block;
}

/* **********ABOUT SECTION********** */
/* **********ABOUT SECTION********** */
.about-section{
    background-color: var(--light-grayish-blue);
    padding: 3rem 8%;
}
.container-about{
    width: 100%;
    text-align: center;
}
.heading-secondary{
    font-size: 3rem;
    font-weight: normal;
    color: var(--dark-blue);
    line-height: 4.5rem;
}
.about-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 4rem;
    column-gap: 3rem;
}
.heading-tertiary{
    font-size: 2rem;
    font-weight: normal;
    color: var(--dark-blue);
    line-height: 4.5rem;
}


/* **********ARTICLE SECTION********** */
/* **********ARTICLE SECTION********** */
.article-section{
    background-color: var(--very-light-gray);
    padding: 3rem 8%;
}
.article-text{
    text-align: center;
}
.article{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 4rem;
    column-gap: 3rem;
}
.article-box{
    background-color: var(--white);
    border: 1px solid transparent;
    border-radius: .5rem;
    overflow: hidden;
}
.article-box img{
    width: 100%;
    height: 23rem;
}
.article-content{
    padding: 2rem;
}
.article-author{
    font-size: 1.6rem; /*1.2*/
}
.article-heading{
    font-size: 2rem; /*1.7*/
    font-weight: normal;
    color: var(--dark-blue);
}
.article-excerpt{
    font-size: 1.6rem; /*1.6*/
    margin-top: 0;
}


/************** FOOTER **************/
/************** FOOTER **************/
footer{
    padding: 5rem 10%;
    background-color: var(--dark-blue);
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 4rem;
    column-gap: 2rem;
}
.footer-icons a{
    padding-right: 1rem;
}
.footer-icons a img:hover{
    color: var(--lime-green);
}
.footer-links ul li{
    padding-bottom: 1.5rem;
    list-style: none;
}
.footer-links ul li a:hover{
    color: var(--lime-green);
}
.invite-credit{
    margin-bottom: 4rem;
    margin-top: 2rem;
}



/* **********MEDIA QUERY********** */
/* **********MEDIA QUERY********** */
/* **********MEDIA QUERY********** */

/* ***************MOBILE RESPONSIVE *************** */
@media screen and (max-width:890px){ /* 769px */
    /* **********MENU QUERIES********** */
     nav .button{
        display: none;
    }
    .hamburger{
        display: inline-block;
        position: absolute;
        top: 2rem;
        right: 8%;
        cursor: pointer;
    }
    .hamburger img{
        width: 3rem;
    }
    .nav-ul{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding: 1rem 0;
        margin-top: 4rem;
        background-color: var(--white);
        border: 1px solid skyblue;
        border-radius: .3rem;
        transform: translateY(-200%);
        transition: all .5s;
        z-index: 999;
    }
    .nav-ul li{
        padding: 1rem 0;
        font-size: 1.6rem;
    }
    li a{
        color: var(--dark-blue);
        font-weight: 400;
    }
    li a:hover{
        color: var(--lime-green);
    }
    .nav-ul li a:hover::before{
        opacity: 0;
    }

    /* SLIDE MENU WHEN HAMBURGER IS CLICKED */
    #toggle:checked ~ .nav-ul{
        transform: translateY(0%); 
    }
    #toggle:checked ~ .hamburger{
        border: 1px solid red;
        border-radius: .3rem;
        padding: .4rem;
    }
    .container {
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 8%;
    }

    /*********** FOOTER QUERY ***********/
    .footer{
        text-align: center;
        display: block;
    }
    .footer-icons{
        margin-bottom: 3rem;
    }
    .footer-credit{
        margin-top: 3rem;
    }
    .footer-links ul{
        padding-inline-start: 0;
    }
    .footer-links li a{
        color: var(--white);
        font-weight: 400;
    }
    .footer-links li a:hover{
        color: var(--lime-green);
    }
}

/* **********MEDIA QUERY FOR THE WELCOME SECTION********** */
/* **********FROM MOBILE TO TABLET********** */
@media screen and (min-width:515px) and (max-width:891px){ /*501 665*/
    .welcome-image{
       display: inline-block;
       text-align: center;
       height: 34rem;
    }
    .welcome-image::before{
        /*top: -32rem; /*35*/
        /*right: -1rem; 0*/
        /* width: 65rem;
        height: 83rem; */
        display: none;
    }
    .welcome-image img{
        width: 82%; /*70*/
        height: 48rem;
        transform: translateY(-15rem);
    }
}


/* **********FROM TABLET TO DESTOP********** */ /* 769px */
/* MEDIA QUERY FOR WELCOME SECTION */
@media screen and (min-width:891px){
    .welcome-section{
        padding: 3rem 0 1rem 0;
    }
    .container-welcome{
        flex-direction: row;
    }
    .welcome-image::before{
        display: none;
    }
    .welcome-text{
        text-align: left;
        padding: 5rem 0 5rem 10%;
        width: 35%;
    }
    .welcome-text h1{
        font-size: 5rem;
        font-weight: 400;
        line-height: 6.5rem;
        color: var(--dark-blue);
    }
    .easybank-message{
        font-size: 2rem;
        line-height: 1.6;
        color: var(--grayish-blue);
    }
    .welcome-image{
        width: 60%;
        position: relative;
        height: 50rem;
    }
    .welcome-image img{
        position: absolute;
        width: 59%;
        height: 80rem;
        top: -3rem;
        right: 16%;
        z-index: 1;
    }

    /* MEDIA QUERY FOR ABOUT SECTION */
    .container-about{
        width: 100%;
        text-align: start;
    }
    .about-text{
        width: 50%;
        /* text-align: left; */
    }
    .about-section{
        padding: 3rem 10%;
    }

    /* MEDIA QUERY FOR ARTICLE SECTION */
    .article-section{
        padding: 3rem 10%;
    }
    .article-text{
        text-align: start;
    }

}

/************* ANINMATION *************/
/************* ANINMATION *************/
@keyframes moveUP {
    0%{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0%);
    }
}
.moveUP{
    animation: moveUp .8s 1 linear;
}

